<h1 class="text-center mt-2">Hello Angular Template Syntaxes</h1>
<div class="container text-center">
  <button (click)="flag = !flag" class="btn btn-danger btn-sm">Click Me</button>
  <p class="mt-2" *ngIf="flag">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut beatae delectus deserunt dicta dignissimos dolorum eius, facere incidunt iure non nostrum officiis quae quisquam, reiciendis, rem repellat tenetur vero.</p>
</div>
<div class="container text-center">
  <button>Show</button>
</div>
