<h3 class="mb-3">Customer Details</h3>
<form [formGroup]="frm" (ngSubmit)="save()">
  <div class="mb-3">
    <label for="txt-id" class="form-label">Customer ID</label>
    <input formControlName="id"
           [class]="getCSSClasses(id)"
           type="text" id="txt-id" class="form-control"
           placeholder="Eg. C001">
    <small class="invalid-feedback">
      @if (id.hasError('pattern')){
        Invalid customer id
      }@else{
        Customer id can't be empty
      }
    </small>
  </div>
  <div class="mb-3">
    <label for="txt-name" class="form-label">Customer Name</label>
    <input formControlName="name"
           [class]="getCSSClasses(name)"
           type="text" id="txt-name" class="form-control"
           placeholder="Eg. Kasun Sampath">
    <small class="invalid-feedback">
      @if (name.hasError('pattern')){
        Invalid customer name
      }@else if(name.hasError('minlength')){
        Customer name should be at least 3 characters long
      }@else{
        Customer name can't be empty
      }
    </small>
  </div>
  <div class="mb-3">
    <label for="txt-contact" class="form-label">Customer Contact</label>
    <input formControlName="contact"
           [class]="getCSSClasses(contact)"
           type="text" id="txt-contact" class="form-control"
           placeholder="Eg. 011-1234567">
    <small class="invalid-feedback">
      @if (contact.hasError('pattern')){
        Invalid customer contact
      }@else {
        Customer contact can't be empty
      }
    </small>
  </div>
  <div class="d-flex gap-1">
    <button class="btn btn-primary">Save</button>
    <button class="btn btn-warning">Clear</button>
  </div>
</form>
