<div id="overlay" class="position-fixed vh-100 vw-100 fixed-top d-flex justify-content-center align-items-center">
  <div id="report-container" class="bg-white rounded p-3">
    <h3 class="text-center">Report Card</h3>
    <div>
      <strong>Name : </strong> Kasun Sampath
    </div>

    <div>
      <strong>Nic : </strong> 123456789v
    </div>

    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Subject</th>
        <th class="text-center">Marks</th>
      </tr>
      </thead>
      <tbody>
        @for (subject of [1,2,3,4,5];track $index){
          <tr>
            <td>Database Management System</td>
            <td class="text-center">85</td>
          </tr>
        }
      </tbody>
      <tfoot>
      <tr>
        <th>Total Marks</th>
        <th class="text-center">1250</th>
      </tr>

      <tr>
        <th>Avg. Marks</th>
        <th class="text-center">85</th>
      </tr>

      <tr>
        <th>Grade</th>
        <th class="text-center">A+</th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
