#overlay{
  background-color: rgba(0, 0, 0, 0.51);
}

#report-container{
  width: 80%;
  height: 80%;
  background-color: white;
}

@media print {
  #button-container {
    display: none !important;
  }
}
