<main class="d-flex vh-100">
  <nav class="border-end">
    <h2 class="text-center mt-2"> App </h2>
    <menu class="rounded list-unstyled text-center p-2">
      <li routerLink="home" routerLinkActive="active" class="rounded py-2 px-4">Home</li>
      <li routerLink="first"  routerLinkActive="active" class="rounded py-2 px-4">First</li>
      <li routerLink="second" routerLinkActive="active" class="rounded py-2 px-4">Second</li>
      <li routerLink="third" routerLinkActive="active" class="rounded py-2 px-4">Third</li>
      <li routerLink="/login" routerLinkActive="active" class="rounded py-2 px-4">Logout</li>
    </menu>
  </nav>

  <section>
    <router-outlet/>
  </section>
</main>
