menu > li:hover{
  background-color: lightgray;
  cursor: pointer;
}

menu > li:hover{
  background-color: lightgray;
  border-right: 5px;
}

menu > li.active{
  background-color: #dfdfdf;
  border:1px solid gray;
}
