<main class="d-flex vh-100 justify-content-center align-items-center">
  <form action="javascript:void(0)" class="border rounded p-4 shadow-lg text-center">
    <h1 class="mb-3 fw-bold">App Login</h1>
    <p class="text-muted">Please enter your credentials to log in</p>

    <div class="mb-3">
      <label class="form-label" for="txt-username">Username</label>
      <input #txtUsername class="form-control form-control-lg" type="text" placeholder="Enter your username" id="txt-username">
    </div>

    <div class="mb-3">
      <label for="txt-password">Password</label>
      <input #txtPassword type="password" placeholder="Enter your password here" id="txt-password" class="form-control form-control-lg">
    </div>

    <button (click)="login(txtUsername,txtPassword)" class="btn btn-primary btn-lg w-100">Login</button>

    <div class="text-center mt-3">
      <a href="#" class="text-decoration-none">Forgot Password?</a>
    </div>
  </form>
</main>
