<h1 class="text-center text-3xl mt-2 text-sky-700">
  Hello Angular + Tailwind css
</h1>
<div class="text-center mt-2">
  <button class="bg-sky-300 p-2 rounded text-white hover:bg-amber-400 active:bg-black">Click Me</button>
</div>

<form action="javascript:void(0)" class="w-11/12 mx-auto border mt-3 rounded-lg shadow-lg bg-white">
  <header class="flex justify-between p-4 items-center bg-gray-100 rounded-t-lg">
    <h1 class="font-bold text-2xl text-gray-600">Customer Details</h1>
    <button class="bg-lime-400 py-2 px-3 rounded text-white hover:bg-lime-700 active:bg-lime-800 cursor-pointer transition duration-300 ease-in-out">+ NEW CUSTOMER</button>
  </header>

  <main class="grid grid-cols-2 gap-y-3.5 p-4">
    <label for="txt-id" class="justify-self-center items-center py-1 text-gray-500 font-medium">ID :</label>
    <input id="txt-id" type="text" class="form-controller">
    <label for="txt-name" class="justify-self-center text-gray-500 font-medium">Name :</label>
    <input id="txt-name" type="text" class="form-controller">
    <label for="txt-address" class="justify-self-center text-gray-500 font-medium">Address :</label>
    <textarea id="txt-address" class="form-controller"></textarea>

    <div class="flex justify-end gap-2">
      <button class="bg-sky-600 py-2 px-4 rounded-lg text-white hover:bg-sky-700 active:bg-sky-800 cursor-pointer transition duration-300 ease-in-out">SAVE</button>
      <button class="">CLEAR</button>
    </div>
  </main>
</form>


<div class="mt-4 flex flex-col gap-2 items-center">
  <img class="w-4/6 rounded-2xl border-4 border-fuchsia-600 hover:border-red-400 cursor-pointer" src="/img/1.jpg" alt="Image 1">
  <img class="w-4/6 rounded-2xl" src="/img/2.jpg" alt="Image 2">
  <img class="w-4/6 rounded-2xl" src="/img/3.jpg" alt="Image 3">
</div>




